@model ColegioAgenda.Models.ViewModel.AlumnoViewModel

@{
    ViewData["Title"] = "Edit";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Alumnos</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Editar</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Completar todos los campos</h2>
        </div>
        <div class="box-content">
            <form asp-action="Edit" >
                <fieldset>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Alumno.IdAlumno" />
                    <input type="hidden" asp-for="Alumno.IdPersona" />
                    <input type="hidden" asp-for="Persona.IdPersona" />
                    <input type="hidden" asp-for="Alumno.Estado" />
                    <input type="hidden" asp-for="Persona.Estado" />

                    <div class="control-group success">
                        <label asp-for="Alumno.Matricula" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Alumno.Matricula" class="form-control" style="color:black" />
                            <span asp-validation-for="Alumno.Matricula" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="Persona.Nombres" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Persona.Nombres" class="form-control" style="color:black" />
                            <span asp-validation-for="Persona.Nombres" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Persona.ApellidoP" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Persona.ApellidoP" class="form-control" style="color:black" />
                            <span asp-validation-for="Persona.ApellidoP" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Persona.ApellidoM" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Persona.ApellidoM" class="form-control" style="color:black" />
                            <span asp-validation-for="Persona.ApellidoM" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Persona.Dni" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Persona.Dni" class="form-control" style="color:black" maxlength="8" />
                            <span asp-validation-for="Persona.Dni" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="Persona.Sexo" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <select asp-for="Persona.Sexo" class="form-control" style="color:black" asp-items="ViewBag.Sexo"></select>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="Persona.FecNac" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Persona.FecNac" type="date" class="form-control" style="color:black" />
                            <span asp-validation-for="Persona.FecNac" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="Alumno.IdGradosSecciones" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <select asp-for="Alumno.IdGradosSecciones" class="form-control" style="color:black" asp-items="ViewBag.IdGradosSecciones"></select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="col-md-offset-2 controls">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn">Cancelar</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!--/span-->
</div><!--/row-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
