@model ColegioAgenda.Models.Grados

@{
    ViewData["Title"] = "Create";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Grados</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Nuevo</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Completar todos los campos</h2>
        </div>
        <div class="box-content">
            <form asp-action="Create">
                <fieldset>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="control-group success">
                        <label asp-for="Descripcion" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Descripcion" class="form-control" style="color:black" />
                            <span asp-validation-for="Descripcion" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Primaria" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Primaria" class="form-control" style="color:black" type="checkbox" />
                            <span asp-validation-for="Primaria" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Secundaria" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Secundaria" class="form-control" style="color:black" type="checkbox" />
                            <span asp-validation-for="Secundaria" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-2 controls">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn">Cancelar</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!--/span-->

</div><!--/row-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
