﻿@model ColegioAgenda.Models.AnioEscolar

@{
    ViewData["Title"] = "Delete";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Año Escolar</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Eliminar</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>¿Esta seguro de eliminar este registro?</h2>
        </div>
        <div class="box-content">
            <dl class="dl-horizontal">
                <input type="hidden" asp-for="IdAnioEscolar" />
                <dt>
                    @*@Html.DisplayNameFor(model => model.NombreAnio)*@
                    NombreAño
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreAnio)
                </dd>
                <dt>
                    @*@Html.DisplayNameFor(model => model.Anio)*@
                    Año
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Anio)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>
            <form asp-action="Delete">
                <div class="form-actions">
                    <div class="col-md-offset-2 controls">
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <a asp-action="Index" class="btn">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>

    </div><!--/span-->
</div><!--/row-->