﻿@model ColegioAgenda.Models.AnioEscolar

@{
    ViewData["Title"] = "Details";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Año Escolar</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Detalles</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Año Escolar</h2>
        </div>
        <div class="box-content">
            <dl class="dl-horizontal">
                <dt>
                    @*@Html.DisplayNameFor(model => model.NombreAnio)*@
                    NombreAño
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreAnio)
                </dd>
                <dt>
                    @*@Html.DisplayNameFor(model => model.Anio)*@
                    Año
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Anio)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>
            <div>
                <a asp-action="Index" class="btn">Volver</a>
            </div>
        </div>

    </div><!--/span-->

</div><!--/row-->
