﻿
@{
    ViewData["Title"] = "_Layout2";
}
<!DOCTYPE html>
<html lang="es-us">
<head>
    <title>Santo Domingo de Guzmán | Inicio </title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="TechEdu Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    
    <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <!-- //for-mobile-apps -->
    <link href="~/TemplateWeb/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" type="text/css" href="~/TemplateWeb/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/TemplateWeb/css/zoomslider.css" />

    <link rel="stylesheet" href="~/TemplateWeb/css/lightbox.css">
    <!-- carousel slider -->
    <link href="~/TemplateWeb/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <!-- //carousel slider -->
    <link href="~/TemplateWeb/css/font-awesome.css" rel="stylesheet">
    @*<script type="text/javascript" src="~/TemplateWeb/js/modernizr-2.6.2.min.js"></script>*@
    <script src="~/TemplateWeb/js/modernizr-2.6.2.min.js"></script>
    <script src="~/TemplateWeb/js/jquery-2.2.3.min.js"></script>
    <script src="~/TemplateWeb/js/bootstrap.js"></script>
    <!--/web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <!--//web-fonts-->
</head>
<body>
    <!--/banner-bottom-->
    <div class="w3_agilits_banner_bootm">
        <div class="w3_agilits_inner_bottom">
            <div class="wthree_agile_login">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> 012 345 678</li>
                    <li><i class="fa fa-envelope-o list-icon" aria-hidden="true"></i><a href="mailto:info@example.com">SantoDomingo@info.com</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--//banner-bottom-->
    <!--/banner-section-->
    <div id="demo-1" data-zs-src='["images/b1.jpg","images/6.jpg","images/b2.jpg","images/b3.jpg","images/b4.jpg"]' data-zs-overlay="dots">


        <div class="demo-inner-content">
            <!--/header-w3l-->
            <div class="header-w3-agileits" id="home">
                <div class="inner-header-agile">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a href="~/TemplateWeb/index.html"><span class="letter">S</span>anto <span style="color:#2f622b">D</span>omingo de <span style="color:#2f622b">G</span>uzmán</a></h1>
                        </div>
                        <!-- navbar-header -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="">Inicio</a></li>
                                <li><a href="#about" class="scroll">Nosotros</a></li>
                                <li><a href="#agileits-services" class="scroll">Servicios</a></li>
                                <li><a href="#portfolio" class="scroll">Galeria</a></li>
                                <li><a href="#team" class="scroll">Equipo</a></li>
                                <li><a href="#testimonials" class="scroll">Testimonials</a></li>
                                <li><a href="#contact" class="scroll">Contáctanos</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </nav>
                </div>

            </div>
            <!--//header-w3l-->
            <!--/banner-info-->
            <div class="baner-info">
                
                <h3>La mejor institucion de aprendizaje</h3>
                <h3><span style="color:yellow">BIENVENIDO</span></h3>
                @*<p>Nuestro centro asume como una de las principales tareas, mejorar el desempeño académico de nuestros alumnos cultivando buenas enseñanzas e innovando tecnologías de la información</p>*@
                @*<a class="hvr-rectangle-out w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> read more</a>*@
            </div>
            <!--/banner-ingo-->
        </div>
    </div>
    <!--/banner-section-->
    <!--about -->
    <div id="about" class="wthree-about w3ls-section">
        <div class="container">
           @* <div class="agileits-banner-grids text-center">
    <div class="banner-bottom-girds">
       <div class="agileits-banner-grid bg-w3ls-active">
            <span class="fa fa-university banner-icon" aria-hidden="true"></span>
            <h4>Academics</h4>
            <p>
                Itaque earum rerum hic tenetur a sapiente delectus
                reiciendis maiores alias consequatur aut.
            </p>
            <a class="hvr-rectangle-out w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> read more</a>
        </div>
        <div class="agileits-banner-grid">
            <span class="fa fa-tags banner-icon" aria-hidden="true"></span>
            <h4>Admission</h4>
            <p>
                Itaque earum rerum hic tenetur a sapiente delectus
                reiciendis maiores alias consequatur aut.
            </p>
            <a class="hvr-rectangle-out w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> read more</a>
        </div>
                    <div class="clearfix"></div>
                </div>
            </div>*@
            <h2 class="w3ls-title">NOSOTROS</h2>
            <h5>FECHA DE CREACIÓN:</h5>
            <div class="col-md-7  w3ls-about-left">
                <p style="color:black">29-08-1980 NºRes. Creación:R.D. 01158 </p>                
                 <h5>Nº Y/O NOMBRE DEL CEGNE:</h5>
                <p style="color:black">"Santo Domingo de Guzmán"</p>
                <h5>DIRECTOR DEL CEGNE:</h5>
                <p style="color:black">Alfredo Ramón Torres Saavedra</p>
                <h5>BREVE RESEÑA HISTORICA</h5>
                <p style="color:black">A solicitud de los profesores Alfredo Torres Saavedra y Josefa Soto Senisse un 29 de agosto de 1980 se crea por Resolucion
                Directorial Regional Nº 1158 el Colegio de Nivel Inicial "Mi pequeño mundo" ubicado en la Av.Bolognesi Nº979; y al año siguiente
                por Resolucion Directorial Regional Nº 01771 se amplia el servicio al 1º Grado de Nivel Primaria: El año 1983 funcionaba hasta 
                el  3ºGrado por Resolucion Directorial Regional Nº505. En el año 1984 por Resolucion Dorectorial Nº508 se cambia el nombre de 
                "Mi pequeño mundo" por el de "Santo Domingo de Guzmán" Funcionando el Nivel Secundaria con atencion al 1º Año de secundaria
                egresando en 1997 la primera promoción de este Nivel.
              </p>
                 <p style="color:black">  En su historia a dirigido la intitución:</p>
                <p style="color:black">En sus inicios la profesora Rosa Soto de Houghton de 1980 a 1982</p>
                <p style="color:black">La profesora Luisa Soto Senisse de 1983 a 1987</p>
                <p style="color:black">La profesora Teresa Quijandria de Wilson de 1988 a 1992</p>
                <p style="color:black">Desde el año 1996 se reconoce como director a su fundador el profesor Alfredo Torres Saavedra, cargo que desempeña hasta 
                la actualidad</p>
       
            </div>            
    
            <div class="col-md-5 w3ls-row">
                <div class="col-md-6 col-sm-6 wthree-about-left">
                    <img  src="~/TemplateWeb/images/about2.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-6 col-sm-6 w3ls-row alert wthree-about-right">
                    <img src="~/TemplateWeb/images/about3.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            @*<div class="stats-info agileits-w3layouts">
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='324' data-delay='.5' data-increment="1">324</div>
                    <div class="stats-img stat2">
                        <p>branches</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='200' data-delay='.5' data-increment="1">200</div>
                    <div class="stats-img stat2">
                        <p>visitors</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid stat1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.5' data-increment="1">156</div>
                    <div class="stats-img stat2">
                        <p>Awards</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid stat1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='156' data-delay='.5' data-increment="1">156</div>
                    <div class="stats-img stat2">
                        <p>centres</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>*@
        </div>
    </div>
    <!-- //about -->
    <!--services-->
    <div class="agileits-services w3ls-section" id="agileits-services">
        <div class="container">
            <h3 class="w3ls-title">Servicios </h3>
            <div class="agileits-services-row">
                <div class="col-md-3 col-sm-6 agileits-services-grids">
                    <span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
                    <h4>Primaria</h4>
                    <p>
                        Contamos con educación primaria bridando un servicio de calidad para que nuestros alumnos adquieran todo el concoimiento necesario.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 agileits-services-grids">
                    <span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
                    <h4>Secundaria</h4>
                    <p>
                        La educación secuendaria es de vital importacia ya que nuestros alumnos estarán bien preparados para cando salgan de la institución a enfrentar sus retos profesionales.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 agileits-services-grids">
                    <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                    <h4>Agenda virtual</h4>
                    <p>
                      Contamos con agenda virtual esto permitirá una mayor comunicación y facilitará llevar un control adecuado de los alumnos.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 agileits-services-grids">
                    <span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
                    <h4>Envio de notificaciones</h4>
                    <p>
                        El envio de notificaciones alertará mediante un app a los padres de familia cualquier eventualidad ocurrida en nuestros centro de estudios.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//agileits-services-->
    <!--portfolio-->
    <div id="portfolio" class="portfolio w3ls-section">
        <div class="container">
            <h3 class="w3ls-title">Galeria</h3>
            <div class="sap_tabs">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item"><span>Todo</span></li>
                        <li class="resp-tab-item"><span>Primaria</span></li>
                        <li class="resp-tab-item"><span>Secundaria</span></li>
                    </ul>
                    <div class="clearfix"> </div>
                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content">
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="tab-1 resp-tab-content">
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="tab-1 resp-tab-content">
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="tab-1 resp-tab-content">
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="tab-1 resp-tab-content">
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 portfolio-grids">
                                <a href="~/TemplateWeb/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                    <img src="~/TemplateWeb/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                    <div class="b-wrapper">
                                        <h5>TechEdu</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//portfolio-->
    <!--//main-header-->
    @*<script type="text/javascript" src="~/TemplateWeb/js/jquery.zoomslider.min.js"></script>*@
    <script src="~/TemplateWeb/js/jquery.zoomslider.min.js"></script>
    <!-- testimonial -->
    @*<div class="wthree-testi w3ls-section" id="testimonials">
        <!-- container -->
        <div class="container">

            <h3 class="w3ls-title">Testimonials</h3>
            <div class="w3_wthree-testi_grids text-center">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="wthree-testi_grid">
                                    <div class="testimonial-left">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                        impedit quo minus id quod possimus, omnis voluptas.
                                    </p>
                                    <h5>John Frank</h5>
                                </div>
                            </li>
                            <li>
                                <div class="wthree-testi_grid">
                                    <div class="testimonial-left">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                        impedit quo minus id quod possimus, omnis voluptas.
                                    </p>
                                    <h5>Michael Doe</h5>
                                </div>
                            </li>
                            <li>
                                <div class="wthree-testi_grid">
                                    <div class="testimonial-left">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                        impedit quo minus id quod possimus, omnis voluptas.
                                    </p>
                                    <h5>Thomas Carl</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>
        </div>
    </div>*@
    <!-- //testimonial -->
    @RenderBody()
    <!-- team -->
    <div class="testimonials w3ls-section" id="team">
        <div class="container">
            <h3 class="w3ls-title">Equipo de trabajo</h3>
            <div class="w3_testimonials_grids w3_testimonials_grids">
                <div id="owl-demo" class="owl-carousel">
                    <div class="item w3_agileits_testimonials_grid">
                        <img src="~/TemplateWeb/images/t1.jpg" alt=" " class="img-responsive" />
                        <h4>J. Hobbs</h4>
                        <p>Donec quis turpis pellentesque justo pulvinar sceleris.</p>
                    </div>
                    <div class="item w3_agileits_testimonials_grid">
                        <img src="~/TemplateWeb/images/t2.jpg" alt=" " class="img-responsive" />
                        <h4>Paul</h4>
                        <p>Donec quis turpis pellentesque justo pulvinar sceleris.</p>
                    </div>
                    <div class="item w3_agileits_testimonials_grid">
                        <img src="~/TemplateWeb/images/t3.jpg" alt=" " class="img-responsive" />
                        <h4>John</h4>
                        <p>Donec quis turpis pellentesque justo pulvinar sceleris.</p>
                    </div>
                    <div class="item w3_agileits_testimonials_grid">
                        <img src="~/TemplateWeb/images/t1.jpg" alt=" " class="img-responsive" />
                        <h4>Michael </h4>
                        <p>Donec quis turpis pellentesque justo pulvinar sceleris.</p>
                    </div>
                    <div class="item w3_agileits_testimonials_grid">
                        <img src="~/TemplateWeb/images/t2.jpg" alt=" " class="img-responsive" />
                        <h4>Christopher</h4>
                        <p>Donec quis turpis pellentesque justo pulvinar sceleris.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- contact -->
    <div class="contact-bottom w3ls-section" id="contact">
        <div class="container">
            <h3 class="w3ls-title">Contáctanos</h3>
            @*<p>Lorem ipsum dolor sit amet consec tetuer adi piscing eLorem ipsum dolor sit amet consec tetuer adi piscing.</p>*@
            <div class="w3layouts-list">
                <div class="col-md-4 li"><span class="fa fa-map-marker" aria-hidden="true"></span><h6>Pisco,Peru.</h6></div>
                <div class="col-md-4 li"><span class="fa fa-phone" aria-hidden="true"></span><h6>012 345 678</h6></div>
                <div class="col-md-4 li"><span class="fa fa-location-arrow" aria-hidden="true"></span><a href="mailto:techedu@info.com">SantoDomingo@info.com</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-sm-6  col-xs-6 agileits_w3layouts-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13251.376806128725!2d151.2012371852675!3d-33.86790584050207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae401e8b983f%3A0x5017d681632ccc0!2sSydney+NSW+2000%2C+Australia!5e0!3m2!1sen!2sin!4v1492686664992" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 contact-right-w3l">
                <form action="#" method="post">
                    <input type="text" class="name" name="name" placeholder="Nombres" required="">
                    <input type="text" class="name" name="name" placeholder="Apellidos" required="">
                    <input type="email" class="name" name="name" placeholder="Email" required="">
                    <input type="text" class="name" name="name" placeholder="Subject" required="">
                    <textarea placeholder="Escibe tu mensaje" required=""></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //contact -->
    <!-- subscribe -->
    @*<div class="w3ls-section subscribe text-center">
        <div class="container">
            <h3 class="w3ls-title">subscribe now!</h3>
            <p>Enter your email address to get the latest news, special events and student activities delivered right to your inbox.</p>
            <div class="subscribe-grid">
                <form action="#" method="post">
                    <input type="email" placeholder="Enter your email.." name="Subscribe" required="">
                    <button class="btn1">subscribe</button>
                </form>
            </div>
        </div>
    </div>*@
    <!-- //subscribe -->
    <!-- footer -->
    <div class="agileits_w3layouts-footer">
        <div class="col-md-6 col-sm-8 agileinfo-copyright">
            <p>© 2017 TechEdu. All rights reserved | Design by <a href="//w3layouts.com/">W3layouts</a></p>
        </div>
        <div class="col-md-6 col-sm-4 agileinfo-icons">
            <ul>
                <li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="icon db" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- footer -->
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Tech Edu
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="~/TemplateWeb/images/6.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //bootstrap-modal-pop-up -->
    <!--script for portfolio-->
    <script src="~/TemplateWeb/js/lightbox-plus-jquery.min.js"> </script>
    <script src="~/TemplateWeb/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
    </script>
    <!--//script for portfolio-->


    <script src="~/TemplateWeb/js/owl.carousel.js"></script>
    <script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel({
			  autoPlay: true, //Set AutoPlay to 3 seconds
			  items :3,
			  itemsDesktop : [640,2],
			  itemsDesktopSmall : [414,1],
			  navigation : true,
			  // THIS IS THE NEW PART
				afterAction: function(el){
					//remove class active
					this
					.$owlItems
					.removeClass('active')
					//add class active
					this
					.$owlItems //owl internal $ object containing items
					.eq(this.currentItem + 1)
					.addClass('active')
					}
			// END NEW PART

			});

		});
    </script>

    <!-- here starts scrolling icon -->
    <script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
					};
				*/

				$().UItoTop({ easingType: 'easeOutQuart' });

				});
    </script>
    <!-- flexSlider -->
    <link rel="stylesheet" href="~/TemplateWeb/css/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/TemplateWeb/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
    </script>
    <!-- //flexSlider -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/TemplateWeb/js/move-top.js"></script>
    <script type="text/javascript" src="~/TemplateWeb/js/easing.js"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
    </script>
    <!-- /ends-smoth-scrolling -->
    <!-- //here ends scrolling icon -->

    <script type="text/javascript" src="~/TemplateWeb/js/numscroller-1.0.js"></script>

    <script src="~/TemplateWeb/js/SmoothScroll.min.js"></script>
</body>
</html> 
