﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ColegioAgenda</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/bootstrap.mvc.css" />*@
        <!-- start: CSS -->
        <link id="bootstrap-style" href="~/TemplateAdmin/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/TemplateAdmin/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link id="base-style" href="~/TemplateAdmin/css/style.css" rel="stylesheet">
        <link id="base-style-responsive" href="~/TemplateAdmin/css/style-responsive.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
        <!-- end: CSS -->
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand"><span> <h1 style="color:yellow">C.E.G.N.E. "Santo Domingo de Guzmán"</h1> </span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-bell"></i>
                                <span class="badge red">
                                    7
                                </span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li class="dropdown-menu-title">
                                    <span>You have 11 notifications</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">1 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">7 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">8 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">16 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">36 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon yellow"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">2 items sold</span>
                                        <span class="time">1 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="#">
                                        <span class="icon red"><i class="icon-user"></i></span>
                                        <span class="message">User deleted account</span>
                                        <span class="time">2 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="#">
                                        <span class="icon red"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">6 hour</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu-sub-footer">
                                    <a>View all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- start: Notifications Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-calendar"></i>
                                <span class="badge red">
                                    5
                                </span>
                            </a>
                            <ul class="dropdown-menu tasks">
                                <li class="dropdown-menu-title">
                                    <span>You have 17 tasks in progress</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">iOS Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim red">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">Android Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim green">47</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim yellow">32</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim greenLight">63</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim orange">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: Notifications Dropdown -->
                        <!-- start: Message Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-envelope"></i>
                                <span class="badge red">
                                    4
                                </span>
                            </a>
                            <ul class="dropdown-menu messages">
                                <li class="dropdown-menu-title">
                                    <span>You have 9 messages</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                6 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                56 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                3 hours
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                yesterday
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                Jul 25, 2012
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all messages</a>
                                </li>
                            </ul>
                        </li>

                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i>  @User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname")?.Value @User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname")?.Value
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Menu</span>
                                </li>
                                <li><a href="/Session/EditProfile"><i class="halflings-icon user"></i> Perfil</a></li>
                                <li><a href="/Session/SignOut"><i class="halflings-icon off"></i>Cerrar cesion</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->
    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="icon-bar-chart"></i>Página web</a></li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-cog"></i><span class="hidden-tablet">Mantenimiento</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>
                            <ul>
                                <li><a asp-area="" asp-controller="Grados" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grados</a></li>
                                <li><a asp-area="" asp-controller="Secciones" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secciones</a></li>
                                <li><a asp-area="" asp-controller="Cursos" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cursos</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="dropmenu" href="#"><i class="icon-book"></i><span class="hidden-tablet">Año Escolar</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>
                            <ul>
                                <li><a asp-area="" asp-controller="AnioEscolars" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Año Escolar</a></li>
                                <li><a asp-area="" asp-controller="DetalleGradosSecciones" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grados|Secciones</a></li>
                                <li><a asp-area="" asp-controller="DetalleCursos" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cursos Año Escolar</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="dropmenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet">Personal</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>
                            <ul>

                                <li><a asp-area="" asp-controller="TipoPersonas" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo Persona</a></li>
                                <li><a asp-area="" asp-controller="Personas" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-file-alt"></i><span class="hidden-tablet">Agenda</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>
                            <ul>
                                <li><a asp-area="" asp-controller="Etiquetas" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Etiquetas</a></li>
                                <li><a asp-area="" asp-controller="AsuntoAgendas" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agenda</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Alumnos" asp-action="Index">Alumnos</a></li>
                        <li><a asp-area="" asp-controller="Profesores" asp-action="Index">Profesores</a></li>

                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div id="content" class="span10">

                @RenderBody()

                @*<ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.html">Home</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">Dashboard</a></li>
                    </ul>*@
            </div>
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>
    <div class="clearfix"></div>
    @*<footer>
            <p>
                <span style="text-align:left;float:left">&copy; 2017 <a href="" alt="Bootstrap_Metro_Dashboard">WebMasters</a></span>
            </p>
        </footer>*@

    <environment names="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@

        <!-- start: JavaScript-->

        <script src="~/TemplateAdmin/js/jquery-1.9.1.min.js"></script>
        <script src="~/TemplateAdmin/js/jquery-migrate-1.0.0.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery-ui-1.10.0.custom.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.ui.touch-punch.js"></script>

        <script src="~/TemplateAdmin/js/modernizr.js"></script>

        <script src="~/TemplateAdmin/js/bootstrap.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.cookie.js"></script>

        <script src='~/TemplateAdmin/js/fullcalendar.min.js'></script>

        <script src='~/TemplateAdmin/js/jquery.dataTables.min.js'></script>

        <script src="~/TemplateAdmin/js/excanvas.js"></script>
        <script src="~/TemplateAdmin/js/jquery.flot.js"></script>
        <script src="~/TemplateAdmin/js/jquery.flot.pie.js"></script>
        <script src="~/TemplateAdmin/js/jquery.flot.stack.js"></script>
        <script src="~/TemplateAdmin/js/jquery.flot.resize.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.chosen.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.uniform.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.cleditor.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.noty.js"></script>

        <script src="~/TemplateAdmin/js/jquery.elfinder.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.raty.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.iphone.toggle.js"></script>

        <script src="~/TemplateAdmin/js/jquery.uploadify-3.1.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.gritter.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.imagesloaded.js"></script>

        <script src="~/TemplateAdmin/js/jquery.masonry.min.js"></script>

        <script src="~/TemplateAdmin/js/jquery.knob.modified.js"></script>

        <script src="~/TemplateAdmin/js/jquery.sparkline.min.js"></script>

        <script src="~/TemplateAdmin/js/counter.js"></script>

        <script src="~/TemplateAdmin/js/retina.js"></script>

        <script src="~/TemplateAdmin/js/custom.js"></script>
        
        <script src="~/js/site.js"></script>


        <!-- end: JavaScript-->

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>

</html>
