@model ColegioAgenda.Models.ViewModel.AgendaViewModel
@using NWebsec;
@{
    ViewData["Title"] = "Nuevo Asunto de agenda";
    var lista = ViewData["Etiquetas"] as List<ColegioAgenda.Models.Etiqueta>;
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>AsuntoAgenda</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Nuevo</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Completar todos los campos</h2>
        </div>
        <div class="box-content">
            <form asp-action="Create">
                <fieldset>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="control-group success">
                        <label asp-for="AsuntoAgenda.Titulo" class="control-label" style="color:black"></label>
                        <div class="col-md-10">
                            <input asp-for="AsuntoAgenda.Titulo" class="form-control" style="color:black" />
                            <span asp-validation-for="AsuntoAgenda.Titulo" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="AsuntoAgenda.Descripcion" class="control-label" style="color:black"></label>
                        <div class="col-md-10">
                            <input asp-for="AsuntoAgenda.Descripcion" class="form-control" style="color:black" />
                            <span asp-validation-for="AsuntoAgenda.Descripcion" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="AsuntoAgenda.IdAlumno" class="control-label" style="color:black"></label>
                        <div class="col-md-10">

                            <input asp-for="AsuntoAgenda.IdAlumno" class="form-control" style="color:black" type="hidden" />

                            <bootstrap-input-group class="input-group ">
                                <input class="form-control" style="color:black" aria-describedby="basic-addon1b" id="alumnoSeleccionado" type="text" placeholder="Alumno">
                                <bootstrap-input-group-addon class="input-group-btn" id="basic-addon1b">
                                    <bootstrap-button id="btnCargarAlumno" type="button" class="btn btn-primary" bootstrap-toggle-modal="ModalAlumno">
                                        Agregar Alumno
                                    </bootstrap-button>
                                </bootstrap-input-group-addon>
                            </bootstrap-input-group>
                        </div>
                    </div>

                    <input asp-for="AsuntoAgenda.Receptor" class="form-control" style="color:black" type="hidden" />
                    <input asp-for="AsuntoAgenda.Emisor" class="form-control" style="color:black" type="hidden" />

                    <div class="control-group success">
                        <label asp-for="AsuntoAgenda.IdReceptor" class="control-label" style="color:black"></label>
                        <div class="col-md-10">

                            <bootstrap-input-group class="input-group ">

                                <div id="PersonasListar">
                                </div>
                                <br />
                                @*<input class="form-control" style="color:black" aria-describedby="basic-addon1b" type="text" placeholder="Receptor">*@
                                <bootstrap-input-group-addon class="input-group-btn" id="basic-addon1b">
                                    <bootstrap-button type="button" class="btn btn-primary" bootstrap-toggle-modal="ModalPersona">
                                        Agregar Personas a enviar
                                    </bootstrap-button>
                                </bootstrap-input-group-addon>
                            </bootstrap-input-group>
                            <span asp-validation-for="AsuntoAgenda.IdReceptor" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label class="control-label" style="color:black">Etiquetas</label>
                        <div class="col-md-10">

                            <bootstrap-input-group class="input-group ">
                                <div id="EtiquetasListar" class="input-group ">

                                </div>
                                <br />
                                <bootstrap-input-group-addon class="input-group-btn" id="basic-addon1b">
                                    <bootstrap-button type="button" class="btn btn-primary" bootstrap-toggle-modal="myModal" onclick="CargarEtiquetas()">
                                        Agregar Etiquetas
                                    </bootstrap-button>
                                </bootstrap-input-group-addon>
                            </bootstrap-input-group>

                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-2 controls">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn">Cancelar</a>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div><!--/span-->
</div><!--/row-->


<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Etiquetas</h4>
    </div>
    <div class="modal-body">
        <label>Descripcion</label>
        <input id="tbxBuscarEtiqueta" />
        <button onclick="BuscarEtiqueta()">Buscar</button>
        <table class="table" id="Table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AsuntoAgenda.Descripcion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody"></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
        @*<a href="#" class="btn btn-primary">Save changes</a>*@
    </div>
</div>

<div class="modal hide fade" id="ModalAlumno">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Alumno</h4>
    </div>
    <div class="modal-body">
        <label>Alumno</label>
        <input id="tbxBuscarAlumno" />
        <button id="btnBuscarAlumno" onclick="CargarAlumnos();">Buscar</button>

        <table class="table" id="TableAlumno">
            <thead>
                <tr>
                    <th>
                        Alumno
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="TbodyAlumno"></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
        @*<a href="#" class="btn btn-primary">Save changes</a>*@
    </div>
</div>

<div class="modal hide fade" id="ModalPersona">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="CloseModalPersona" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Personas vinculadas con el Alumno</h4>
    </div>
    <div class="modal-body">
        <input id="tbxBuscarPersona" hidden="hidden" />
        <table class="table" id="TablePersona">
            <thead>
                <tr>
                    <th>
                        Datos
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="TbodyPersona"></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
        @*<a href="#" class="btn btn-primary">Save changes</a>*@
    </div>
</div>

@section Scripts {



@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}