@model ColegioAgenda.Models.AsuntoAgenda

@{
    ViewData["Title"] = "Detalles asunto agenda";
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Agenda</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Detalles</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Agenda</h2>
        </div>
        <div class="box-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Receptor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Receptor)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Emisor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Emisor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdAlumnoNavigation.IdGradosSeccionesNavigation.Descripcion)
                </dt>

                <dd>
                    @if (Model.IdAlumnoNavigation.IdGradosSeccionesNavigation.IdSeccionNavigation != null)
                    {
                        @Model.IdAlumnoNavigation.IdGradosSeccionesNavigation.IdSeccionNavigation.Descripcion
                    }

                    @Model.IdAlumnoNavigation.IdGradosSeccionesNavigation.IdGradoNavigation.Detalle



                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Visto)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Visto)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IdAlumnoNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdAlumnoNavigation.IdPersonaNavigation.Datos)
                </dd>
            </dl>
            <div>
                <a asp-action="Index" class="btn">Volver</a>
            </div>
        </div>

    </div><!--/span-->

</div><!--/row-->