@model IEnumerable<ColegioAgenda.Models.AsuntoAgenda>

@{
    ViewData["Title"] = "Lista de Asuntos de agenda";
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Agenda</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Lista de Asuntos de agenda</strong></a></li>
</ul>
<p>
    <a asp-action="Create" class="btn btn-large blueDark">Nuevo <i class="halflings-icon white plus"></i></a>
</p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span><strong>AGENDA</strong></h2>
        </div>
        <div class="box-content">
            <div style="overflow-x:auto;">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdAlumnoNavigation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Receptor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Emisor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Visto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>

                                    @if (item.Descripcion.Length >= 50)
                                    {
                                        @item.Descripcion.Substring(0, 50) <p>  ...</p>
                                    }

                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.IdPersonaNavigation.Datos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Receptor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Emisor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Visto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                   
                                    <a asp-action="Details" asp-route-id="@item.IdAsuntoAgenda" class="btn btn-warning"><i class="halflings-icon white zoom-in"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/span-->

</div><!--/row-->