@model IEnumerable<ColegioAgenda.Models.Cursos>

@{
    ViewData["Title"] = "Index";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Cursos</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Index</strong></a></li>
</ul>
<p>
    <a asp-action="Create" class="btn btn-large blueDark">Nuevo <i class="halflings-icon white plus"></i></a>
</p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white cog"></i><span class="break"></span><strong>CURSOS</strong></h2>
        </div>
        <div class="box-content">
            <div style="overflow-x:auto;">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdCurso" class="btn btn-info"><i class="halflings-icon white edit"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.IdCurso" class="btn btn-warning"><i class="halflings-icon white zoom-in"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.IdCurso" class="btn btn-danger"><i class="halflings-icon white trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
    </div><!--/span-->

</div><!--/row-->

