@model ColegioAgenda.Models.Personas

@{
    ViewData["Title"] = "Edit";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="index.html" style="color:black; font-size:large"><strong>Personas</strong></a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#" style="color:black; font-size:large"><strong>Editar</strong></a></li>
</ul>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Completar todos los campos</h2>
        </div>
        <div class="box-content">

            <form asp-action="Edit">
                <fieldset>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdPersona" />

                    <div class="control-group success">
                        <label asp-for="Nombres" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Nombres" class="form-control" style="color:black" />
                            <span asp-validation-for="Nombres" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="ApellidoP" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="ApellidoP" class="form-control" style="color:black" />
                            <span asp-validation-for="ApellidoP" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="ApellidoM" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="ApellidoM" class="form-control" style="color:black" />
                            <span asp-validation-for="ApellidoM" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Dni" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Dni" class="form-control" style="color:black" maxlength="8" />
                            <span asp-validation-for="Dni" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Sexo" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <select asp-for="Sexo" class="form-control" style="color:black" asp-items="ViewBag.Sexo"></select>
                        </div>
                    </div>

                    <div class="control-group success">
                        <label asp-for="Direccion" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Direccion" class="form-control" style="color:black" />
                            <span asp-validation-for="Direccion" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="NumContacto" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="NumContacto" class="form-control" style="color:black" maxlength="9"/>
                            <span asp-validation-for="NumContacto" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="FecNac" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="FecNac" class="form-control" style="color:black" />
                            <span asp-validation-for="FecNac" class="text-danger" style="color:red"></span>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="IdTipoPersona" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <select asp-for="IdTipoPersona" class="form-control" style="color:black" asp-items="ViewBag.IdTipoPersona"></select>
                        </div>
                    </div>
                    <div class="control-group success">
                        <label asp-for="Estado" class="control-label" style="color:black"></label>
                        <div class="controls">
                            <input asp-for="Estado" class="form-control" style="color:black" />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-2 controls">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn">Cancelar</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!--/span-->

</div><!--/row-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
